@model SportRentals.ViewModels.ShopProductsViewModel

@{
    ViewBag.Title = "ShopProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_assemblylayout.cshtml";
}




<h2></h2>

<fieldset>
    <h3>Shop Name</h3>


    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

</fieldset>
<p>


</p>
<p>

</p>
<p>

</p>
<h3>Products</h3>
<p>


</p>
<p>


</p>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Name</th>
            <th>Details</th>
            <th>Daily Price</th>
            <th>Stock</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>






            </tr>
        }

    </tbody>
</table>




<p>
    @Html.ActionLink("Back to List", "Index",new { id = "customer=form" })
</p>
