@model List<SportRentals.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    //Layout = "~/Views/Shared/_assemblylayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Order.OrderID).Titled("ID").RenderedAs(model => 
            @Html.ActionLink(model.Order.OrderID.ToString(), "Edit", new {id = model.Order.OrderID}));

        columns.Add(model => model.ShopName).Titled("Shop");
        columns.Add(model => model.CustomerName).Titled("Customer");

        columns.Add(model => model.Order.StartDate).Titled("Start").Formatted("{0:MM/dd/yyyy}");
        columns.Add(model => model.Order.EndDate).Titled("End").Formatted("{0:MM/dd/yyyy}");
        columns.Add(model => model.Order.CreatedDateTime).Titled("Created").Formatted("{0:MM/dd/yyyy}");
        columns.Add(model => model.StatusName).Titled("Status");

        columns.Add(model => model.Order.Total).Titled("Total").Formatted("{0:C2}");

    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
@*<td>
        @Html.ActionLink("Edit", "Edit", new {id = item.OrderID}) |
        @Html.ActionLink("Details", "Details", new {id = item.OrderID}) |
        @Html.ActionLink("Delete", "Delete", new {id = item.OrderID}) |
        @Html.ActionLink("OrderProducts", "OrderProducts", new {id = item.OrderID}) |
    </td>*@
