
@model SportRentals.ViewModels.ProductCategoryShopViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_assemblylayout.cshtml";
}



@section Scripts {
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

}


@using (Html.BeginForm("Search", "ProductUser"))
{
    @Html.AntiForgeryToken()
    <div class="flex-container-menu">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                @Html.LabelFor(model => model.ShopID, htmlAttributes: new { @class = "input-group-text" })
            </div>
            <div style="width: 74%">
                @Html.DropDownListFor(model => model.ShopID, ViewData["ShopList"] as IEnumerable<SelectListItem>, new { @class = "custom-select" })
                @Html.HiddenFor(model => model.ShopID)
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="input-group mb-4">
                <div class="input-group-prepend">
                    @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "input-group-text" })
                </div>
                <div style="width: 64%">
                    @Html.DropDownListFor(model => model.CategoryID, ViewData["CategoryList"] as IEnumerable<SelectListItem>, new { @class = "custom-select" })
                </div>

            </div>*@
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span>
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "input-group-text" })
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            <div style="width: 61%">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetimepickerstart" } })
            </div>
        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span>
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "input-group-text" })
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            <div style="width: 61%">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetimepickerend" } })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>

    </div>

}

@using (Html.BeginForm("Checkout", "ProductUser"))
{

    <div class="flex">


        @foreach (var item in Model.Products)
        {

        <section>
            <img src="@item.ImageUrl" alt="Smartphone" />
            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
            <ul>
                <li>Price: @Html.DisplayFor(modelItem => item.DailyPrice)</li>
            </ul>
            <div  style="margin-bottom: 15px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_@item.ProductID">
                    Details
                </button>
                @Html.ActionLink("Buy Now", "AddToCart", new { id = item.ProductID }, new { @class = "btn btn-danger" })
            </div>
            <div class="container">


                <div class="modal" id="modal_@item.ProductID">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <div class="modal-header">
                                <h4 class="modal-title">Product Details</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body" style="padding:20px 20px;">
                                <div class="img-rounded">
                                    @Html.DisplayFor(modelItem => item.Description)
                                    <br /><br />
                                    <h6>Stock: <b>@Html.DisplayFor(modelItem => item.Stock)</b></h6>
                                </div>
     
                            </div>


                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>






        }
    </div>


    <div class="form-group" align ="right">
            <input type="submit" value="Proceed to checkout" class="btn btn-default" />
    </div>
}
<script type="text/javascript">
    $(function () {
        $('.datetimepickerend').datepicker({
            uiLibrary: 'bootstrap4'
        });
    });
    $(function () {
        $('.datetimepickerstart').datepicker({
            uiLibrary: 'bootstrap4'
        });
    });

</script>
@if (TempData["ProductAdded"] != null)
{
    <div class="modal" id="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 320px;">
                <div class="modal-header">
                    <h4 class="modal-title">Shopping Cart</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="img-rounded">
                        Your product has been added!
                    </div>
                    <div align="right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            $("#dialog").modal();
        });
    </script>
}
